.headd{
background: #093028;
background: -webkit-linear-gradient(to right, #237A57, #093028);
background: linear-gradient(to right, #237A57, #093028); 
width: 50% !important;
color: white;
font-family: cursive;
border-radius: 12px;
height: 70px;
font-size: 30px;
}
#container{
    margin-top: 30px !important;
}

#calc {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#btns {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty {
    background-color: #eaedef;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}
* button{
    border-radius: 12px !important;
}
button:nth-child(4) {
    font-size: 20px;

    background: #00B4DB; 
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); 
    background: linear-gradient(to right, #0083B0, #00B4DB);}

button:nth-child(8) {
    font-size: 20px;

    background: #00B4DB; 
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); 
    background: linear-gradient(to right, #0083B0, #00B4DB);}

button:nth-child(12) {
    font-size: 20px;
    background: #00B4DB; 
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); 
    background: linear-gradient(to right, #0083B0, #00B4DB);
    
}

button:nth-child(16) {
    font-size: 20px;
    background: #00B4DB; 
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); 
    background: linear-gradient(to right, #0083B0, #00B4DB);
}

button:nth-child(20) {
    font-size: 20px;
    background: #00B4DB; 
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); 
    background: linear-gradient(to right, #0083B0, #00B4DB);
}

#backspace,#clear{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}
button:nth-child(3) {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;   
}
